/*Global*/
* {
  font-family: Montserrat, sans-serif !important;
}

html,
body {
  height: 100%;
  background: #f2f7fb;
}

/*Menu*/

.sidebar-container {
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(180deg, #2d475c 0%, #416683 100%);
  color: #fff;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  box-shadow: 0.15rem 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  z-index: 3 !important;
}

.sidebar-logo {
  padding: 20px 10px 10px 10px;
  border-bottom: 1px dotted rgba(173, 216, 230, 0.329);
}

.company-name{
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 5px;
}

.logo{
  height: 50px;
}

i {
  font-size: 22px;
  margin-right: 10px;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 25px;
  font-size: 15px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background: linear-gradient(90deg, #7986b4 0%, #416683 100%);
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 1px;
  margin-left: -1px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

/*Top Bar*/

nav {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  height: 80px;
  padding-top: 15px;
  z-index: 1 !important;
}

.icon {
  color: #e0e0e0;
}

.icon:hover {
  color: #2d475c;
  transition: all 0.5s;
}

.vl {
  border-left: 1px solid lightgrey;
  height: 40px;
}

.topbar-text {
  color: grey;
  font-size: 15px;
}

.topbar-text:hover {
  color: #2d475c;
  transition: all 0.5s;
}

.dropdown-item:active {
  background: #2d475c !important;
}

/*Pages*/

.content-container {
  padding: 0px 0px 0px 250px;
  margin: 0px;
  color: #535353;
  font-family: Montserrat, sans-serif;
  background: #f2f7fb;
  height: 100%;
}

.container-fluid {
  padding-top: 20px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

h1 {
  font-weight: 400!important;
  font-size: 17px !important;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*Home*/

.row{
  margin-top: 25px!important;
  width: 100%;
}

.card{
  box-shadow: 0px 1px 10px rgba(58, 59, 69, 0.15);
}

.big-card{
  height: 350px;
}

.small-card{
  border-left: 4px solid #7986b4!important;
}

.card-title{
  font-size: 13px;
  color: #AEAEAE;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.card-header{
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #385972;
  border: none!important;
  background: #E3E5EE!important;
}

.count{
  font-weight: 600;
  font-size: 22px;
}

/*Calendar*/

ul {
  list-style-type: none;
}

/* Month header */
.month {
  padding: 10px 20px;
  width: 100%;
  background: white;
  color: #535353!important;
  font-weight: 600;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  font-size: 17px;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  background: #385972;
}

/* Next button */
.month .next {
  float: right;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  background: #385972;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  font-size: 12px;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background:white;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
