/*Global*/
* {
  font-family: Montserrat, sans-serif !important;
}

html,
body {
  min-height: 100%;
  background: #f2f7fb;
}

.container{
  min-height: 70vh!important;

}

/*Menu*/

.sidebar-container {
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  display: block;
  overflow-y: auto;
  background: linear-gradient(180deg, #2d475c 0%, #416683 100%);
  color: #fff;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  box-shadow: 0.15rem 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  z-index: 3 !important;
  transition: all 0.5s;
}

.sidebar-logo {
  padding: 20px 10px 10px 10px;
  border-bottom: 1px dotted rgba(173, 216, 230, 0.329);
}

.company-name {
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 5px;
}

.logo {
  height: 50px;
}

i {
  font-size: 22px;
  margin-right: 10px;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 25px;
  font-size: 15px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background: linear-gradient(90deg, #7986b4 0%, #416683 100%);
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 1px;
  margin-left: -1px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .sidebar-container {
    display: none;
    position: relative;
  }

  .content-container {
    padding: 0 !important;
  }
}

/*Top Bar*/

nav {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  height: 80px;
  padding-top: 15px;
  z-index: 1 !important;
}

.icon {
  color: #e0e0e0;
}

.icon:hover {
  color: #2d475c;
  transition: all 0.5s;
}

.vl {
  border-left: 1px solid lightgrey;
  height: 40px;
}

.topbar-text {
  color: grey;
  font-size: 15px;
}

.topbar-text:hover {
  color: #2d475c;
  transition: all 0.5s;
}

.dropdown-item:active {
  background: #2d475c !important;
}

/*Pages*/

.content-container {
  padding: 0 0 0 250px;
  margin: 0;
  color: #535353;
  font-family: Montserrat, sans-serif;
  background: #f2f7fb;
  height: 100%;
}

h1 {
  font-weight: 400 !important;
  font-size: 17px !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 25px !important;
}

/*Home*/

.row {
  margin-top: 20px !important;
}

.card {
  box-shadow: 0 1px 10px rgba(58, 59, 69, 0.15);
}

.card-photoshoot {
  font-size: 13px !important;
  display: inline-block;
  width: 100%;
}

.upcoming-photoshoot {
  padding-left: 10px;
}

.big-card {
  height: 350px;
}

.card-icon{
  font-size: 40px!important;
  color: #ece9e9;
  float: right;
}

.small-card {
  border-left: 4px solid #7986b4 !important;
  margin-bottom: 15px;
  padding: 2px;
}

.card-title {
  font-size: 13px;
  color: #aeaeae;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.card-header {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #385972;
  border: none !important;
  background: #e3e5ee !important;
}

.big-card .card-body {
  padding-top: 0 !important;
}

.count {
  font-weight: 600;
  font-size: 22px;
}

.photoshoot-list {
  font-size: 12px;
  width: 100%;
  list-style-type: none;
  font-weight: 600;
  color: #385972;
}

.photoshoot-date {
  font-size: 12px;
  width: 100%;
  color: #535353;
}
/*Calendar*/

ul {
  list-style-type: none;
}

/* Month header */
.month {
  padding: 10px 20px;
  width: 100%;
  color: #535353 !important;
  font-weight: 600;
  text-align: center;
}

.today {
  color: grey;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  font-size: 17px;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  background: #385972;
}

/* Next button */
.month .next {
  float: right;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  background: #385972;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  font-size: 12px;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}

@media screen and (max-width: 800px) {
  .prev,
  .weekdays,
  .days,
  .next {
    display: none;
  }

  .card-header {
    font-size: 10px;
    letter-spacing: 0;
    transition: all 0.5s;
  }

  .photoshoot-date {
    display: none;
  }
}

/*Tables*/

.table-container {
  margin-top: 20px;
  padding: 0;
}
table {
  border: none !important;
  border-collapse: separate !important;
  margin-bottom: 350px;
}

.email-head{
  background: rgba(231, 233, 239, 0.55);
}
th,
td {
  padding: 3px;
  vertical-align: middle !important;
}

thead tr:first-child th:first-child {
  border-radius: 0.6em 0 0 0;
}

thead tr:first-child th:last-child {
  border-radius: 0 0.6em 0 0;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 0.6em;
}

tbody tr:last-child td:last-child {
  border-radius: 0 0 0.6em 0;
}

th {
  width: 20px !important;
}

thead {
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: 1px;
  color: #385972;
  padding-top: 0 !important;
  background: #e3e5ee;
  text-align: center;
}

td {
  background: white !important;
  border: none !important;
  color: grey;
  font-size: 14px !important;
  padding: 5px;
}

/*Add Button*/

.add-button {
  background-image: linear-gradient(
    to right,
    #2d475c 0%,
    #7986b4 100%,
    #416683 100%
  );
}

.add-button {
  display: inline;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 45px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  font-size: 13px;
  background-size: 200% auto;
  display: inline-block;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  border: none !important;
}

.add-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .add-button {
    width: 100%;
  }
}

/*Delete Selected Button*/

.delete-selected-button {
  background-image: linear-gradient(
          to right,
          #416683 20%,
          #2d475c  100%,
          #7986b4 100%
  );
}

.delete-selected-button {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 25px;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  font-size: 13px;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  border: none !important;
}

.delete-selected-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .delete-selected-button {
    width: 100%;
  }
}

/*Action Buttons*/

.action-button {
  border: none;
  border: 1px solid #7986b4;
  background: rgba(202, 210, 238, 0.1);
  color: #7986b4;
  width: 50px;
  height: 50px;
  font-size: 10px;
  padding: 5px;
  letter-spacing: 1px;
  transition: all 0.5s;
  z-index: 300!important;
  border-radius: 100%;
  text-align: center;
  margin: 5px;
}

.action-button:hover {
  background: rgba(121, 134, 180, 0.29);
}

.center{
  margin-right: 0!important;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #2d475c !important;
  border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #2d475c!important;
}

/*Buttons*/
.buttons{
  display: inline-block!important;
  width: 100%!important;
  data-inline: true!important;
}

/*Send Button*/
.send-button {
  border: none;
  background: #7986b4;
  color: white;
  width: 200px;
  font-size: 17px;
  padding: 5px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  transition: all 0.5s;
  border-radius: 0;
  margin: 2px;
}

.send-button:hover {
  background: #f2f7fb;
  color: #535353;
}

/*Submit Button*/
.submit-button {
  border: none;
  background: #7986b4;
  color: white;
  width: 100px;
  font-size: 17px;
  padding: 5px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  transition: all 0.5s;
  border-radius: 0;
  margin: 2px;
}

.submit-button:hover {
  background: #f2f7fb;
  color: #535353;
}

/*Cancel Button*/

.cancel-button {
  border: none;
  background: #97a1c0;
  color: white;
  width: 100px;
  font-size: 17px;
  padding: 5px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  transition: all 0.5s;
  border-radius: 0;
  margin: 2px;
}

.cancel-button:hover {
  background: #f2f7fb;
  color: #535353;
}

/*Back Button*/
.back-button {
  border: none;
  background: #7986b4;
  color: white;
  padding: 15px;
  font-size: 13px;
  margin: 20px;
  justify-content: center;
  letter-spacing: 1px;
  transition: all 0.5s;
  border-radius: 0;
  position:absolute;
  bottom: 0;

}

.back-button:hover {
  background: #f2f7fb;
  color: #535353;
}

/*Form*/
label {
  display: block;
  font-size: 16px;
}

input[type="checkbox"]{
  width:auto!important;
  margin:0!important;
  margin-right: 5px!important;
}

input[id="client_id"],
input[id="category_id"] {
  background: #f1f1f1 !important;
}
input {
  background: #e3e5ee;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/*Action Card*/
.aligned-form {
  padding: 0 20px 20px 20px !important;
}

.small-action-card{
  margin-top: 50px!important;
  height: 400px!important;

}

.action-card {
  margin-top: 50px!important;
  margin-bottom: 40px;

}

.product-action-card{
  margin-top: 50px!important;
  height: 650px!important;
  margin-bottom: 40px;
}

.client-action-card{
  margin-top: 50px!important;
  min-height: 300px!important;
  max-height: 950px!important;
  margin-bottom: 40px;
}

.photoshoot-action-card{
  margin-top: 50px!important;
  max-height: 950px!important;
  min-height: 300px!important;
  margin-bottom: 40px;
}



/*Footer*/
.footer{
  background: transparent!important;
  box-shadow: none!important;
  font-size: 12px!important;
  text-align: center!important;
  width: 100%!important;
}

.navbar-collapse justify-content-center{
  width: 100%!important;
}

/*Message*/
.message{
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 15px;
  color: grey;

}

/*Login*/

.login{
  background-image: url('../Images/login-background.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.white-bg{
   background-color: white!important;
}

.small-image{
  height: 300px;
  text-align: center;
}

.login-card{
  height:400px;
  margin-top: 50px!important;
}

/*Email*/

.email-link{
  color: #535353;
}

.email-link:hover{
  color: #7986b4;
}

.email-table{
  border: 1px solid lightgrey!important;
  border-radius: 2!important;
}